@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Sans", sans-serif;
}

.date::-webkit-calendar-picker-indicator {
  transform: scale(1.25);
  cursor: pointer;
}
